# -------------------------------------
# WARNING: everything is in here for a reason. Edit with care.
# -------------------------------------

smarter/smarter/static/react/

# -------------------------------------
# Helm chart artifacts. charts are compressed
# binary files that do not belong in GitHub.
#
# the Chart.lock files are generated during
# deployment and contain checksums
# and do not belong in GitHub.
# -------------------------------------
helm/charts/smarter/charts/
helm/charts/smarter/Chart.lock

# Sphinx documentation build artifacts.
# -------------------------------------
docs/build/

# Keen Bootstrap theme, raw source files.
# These are VERY LARGE and absolutely do not
# belong in GitHub.
# -------------------------------------
keen_**

# Google service account raw files. These
# are source files for generating service-account.b64
# that is used for authenticating to Google APIs.
# -------------------------------------
service-account.json
service-account.b64

# application local dev run-time data
# -------------------------------------
.ruff_cache
celerybeat-schedule
mysql-data
db.sqlite3
.cache.sqlite
staticfiles
*.swp

# build artifacts
# But don't ignore '.github/actions/build'
# -------------------------------------
!.github/actions/build/
**/build/
**/dist/
*.zip


# coverage analysis artifacts
# -------------------------------------
**/.coverage
**/.coverage.*
htmlcov

# Jupyter Notebook
# -------------------------------------
.ipynb_checkpoints

# os files
# -------------------------------------
.DS_Store
Thumbs.db
Desktop.ini

# log data
# -------------------------------------
*.log
*.db
*.out


# typical secrets files
# -------------------------------------
.env
secrets.json
config.json
*.key
*.pem
*.p12
*.pfx
*.cer
*.crt
*.der
*.p7b
*.p7c


# Python run-time artifacts
# -------------------------------------
.pypi_cache
__pycache__
.pytest_cache
venv
.venv
.pytest_cache
*.pyc
*.pyo
*.pyd

# ReactJS run-time artifacts
# -------------------------------------
node_modules
/package-lock.json
