{% extends "dashboard/base.html" %}
{% load static %}
{% load react_provider_list %}

{% block style_extra %}
  {{ block.super }}

  <!--
  Vite assets for the provider list
  see: smarter.apps.provider.templatetags.react_provider_list.
  reads the React manifest.json file to determine the correct hashed filenames to include.
  -->
  {% provider_list_react_assets as assets %}
  {% for css_file in assets.css %}
    <link class="smarter" rel="stylesheet" href="{% static 'react/@smarter/provider-list/' %}{{ css_file }}">
  {% endfor %}
{% endblock %}

{% block dashboard_content %}
  {{ block.super }}

  <div
    id="{{ provider_list.root_id }}"
    django-csrf-cookie-name="{{ provider_list.django_csrf_cookie_name }}"
    django-session-cookie-name="{{ provider_list.django_session_cookie_name }}"
    django-cookie-domain="{{ provider_list.cookie_domain }}"
    smarter-provider-list-api-url="{{ provider_list.provider_list_api_url }}"
    >
  </div>

{% endblock %}

{% block javascript_extra %}
  {{ block.super }}

  <!--
  Vite assets for the provider list
  see: smarter.apps.provider_list.templatetags.react_provider_list.
  reads the React manifest.json file to determine the correct .js entry filename to include.
  -->
  {% provider_list_react_assets as assets %}
  {% for js_file in assets.js %}
    <script class="smarter" type="module" src="{% static 'react/@smarter/provider-list/' %}{{ js_file }}"></script>
  {% endfor %}

{% endblock %}
