{% extends "admin/smarter_base.html" %}


{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'console_home' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="logo-bg intro-hero-box">hello</div>
{{ block.super }}
{% endblock %}
