{% extends 'dashboard/base.html' %}
{% load static custom_filters %}


{% block dashboard_content %}
<section id="plugin-manifest">
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
      <!--begin::Row-->
      <div class="row g-5 g-xl-10">
        <!--begin::Col-->
        <div class="col-xl-8 mb-5 mb-xl-10">
          <!--begin::Row-->
          <div class="row g-5 g-xl-10 mb-l-10">
            {% block title %}<h2>{{ page_title }}</h2>{% endblock %}
            <!--begin:: Manifest body-->
            <div class="code-sample-body">
              <pre class="code-snippet prettyprint w-100">
                <code>
{{ manifest|unescape_unicode }}
                </code>
              </pre>
            </div>
            <!--end:: Manifest body-->

          </div>
          <!--end::Row-->

        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->

    </div>
    <!--end::Content container-->
  </div>
</section>
{% endblock %}
