{% extends 'base.html' %}
{% load static %}

{% block root %}
<link rel="stylesheet" href="{% static 'common-styles.css' %}?v={{ STATIC_VERSION }}">
{% block style_extra %}
<style>
  .not-selectable {
    user-select: none;
  }
  .smarter-title-bar {
  }
  .product-name {
    font-size: small;
    color: gray;
  }
  </style>
{% endblock %}
<!--begin::Page-->
<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    {% include 'dashboard/header.html' %}
	<!--begin::Wrapper-->
	<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
        {% include 'dashboard/sidebar.html' %}
		<!--begin::Main-->
		{% block dashboard_content %}
		{% endblock %}

		{% block dashboard_footer %}
          {% include 'dashboard/footer.html' %}
		{% endblock %}

		<!--end:::Main-->
	</div>
	<!--end::Wrapper-->
</div>
<!--end::Page-->
{% endblock %}

<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
	<i class="ki-duotone ki-arrow-up">
		<span class="path1"></span>
		<span class="path2"></span>
	</i>
</div>
<!--end::Scrolltop-->



{% block modal %}
<!--begin::html for all modals-->
<!--end::html for all modals-->
{% endblock %}
{% block javascript_extra %}
{{ block.super }}
  <script src="{% static 'assets/js/widgets.bundle.js' %}?v={{ STATIC_VERSION }}"></script>
  <script src="{% static 'js/dashboard/base.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}
