{% extends "dashboard/base.html" %}

{% block dashboard_content %}
  {{ block.super }}

  <!--
    react.js app entry point
    retrieve and inject the js/css artifacts of the react.js build into the DOM.
    example:
    <div
      id="smarter-sh-v1-ui-chat-root"
      class="smarter-chat"
      style="height: 88vh;"
      smarter-chatbot-api-url="https://openai.3141-5926-5359.alpha.api.smarter.sh/"
      smarter-toggle-metadata="True"
      smarter-csrf-cookie-name="csrftoken"
      smarter-session-cookie-name="session_key">
    </div>
  -->
  <section aria-label="Chat with your AI assistant" class="smarter-chat-section">
    <div
      id="{{ chatapp_workbench.div_id }}"
      class="smarter-chat"
      style="height: 88vh;"
      smarter-chatbot-api-url="{{ chatapp_workbench.llm_client_api_url }}"
      smarter-toggle-metadata="{{ chatapp_workbench.toggle_metadata }}"
      smarter-csrf-cookie-name="{{ chatapp_workbench.csrf_cookie_name }}"
      smarter-session-cookie-name="{{ chatapp_workbench.smarter_session_cookie_name }}"
      smarter-cookie-domain="{{ chatapp_workbench.cookie_domain }}"
      smarter-debug-mode="{{ chatapp_workbench.debug_mode }}"
      django-csrftoken="{{ csrf_token }}"
      django-session-cookie-name="{{ chatapp_workbench.django_session_cookie_name }}"
      >
    </div>
  </section>
  <!--
    retrieve and inject the js/css artifacts of the react.js build into the DOM.
    example:
    <script
      class="smarter-chat"
      async=""
      src="https://cdn.smarter.sh/ui-chat/app-loader.js">
    </script>
  -->
  <script class="smarter-chat" async="" src="{{ chatapp_workbench.app_loader_url }}" onerror="console.error('Failed to load:', this.src)"></script>

{% endblock %}
